# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/
*/target/

# Node.js
node_modules/
*/node_modules/

# Python & Temporary Debug Scripts
__pycache__/
*.pyc
*.py
.venv/
install-yas-env.sh

# OS Files
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea
*.iml

### Eclipse ###
.project
.settings*
.classpath

### VS Code ###
.vscode/

# virtual machine crash logs
hs_err_pid*

# Tempo data
tempo-data/
